@import url("http://fonts.cdnfonts.com/css/averta-blackitalic");
.main {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: 'Averta-Regular',sans-serif;
}
header {
font-size: 1.5em;
}

.links{
  color: red; 
  text-decoration: none; 
  cursor: auto;
}
.link1{
    color: white;
    background-color: rgb(235,0,0);
    padding: 10px 15px;
    text-decoration: none;
}
/* .link1:focus {
    border-color:transparent;
     border: 0;
     color: red;
    -webkit-appearance: none;} */

    .link2 {
     color:red;
    background-color: rg;
    padding: 10px 15px;
    text-decoration: none; 
    border: 1px solid #e7332b;
    }
    .link1:hover {
background-color: #ffffff;
color: #e7332b;
border: 1px solid #e7332b;
    }
    .link1:hover a{
        color: #ffffff;
    }
.link2:hover{
    color: #ffffff;
    background-color: #e7332b;
    border: 1px solid #e7332b;
}
.link2:hover a{
    color: #e7332b;
}
.section1 {
   margin-top: 5em; 
}
    
span {
color: #e7332b;
}

.header {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    }

.header-left {
    width: 30%;
    margin-left: 50px;
}
.header-right{
    width: 70%;
}

nav {
    position: sticky;
  
    padding: 5px;
    text-align: center;
}

nav li {
    list-style: none;
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px 10px;
    border-radius: 3px;
}

nav a {
    text-decoration: none;
    color: black;
}
.talent-recruit {
    background-color: #e7332b!important;
    border-radius: 0 0 8px 0!important;
    color: #fff!important;
    font-family: Graphik!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 19px!important;
    margin-right: 15px!important;
    padding: 11px 50px!important;
    text-transform: none!important;
    text-decoration: none;
}

.talent-recruits {
    background-color: #585858!important;
    border-radius: 0 0 8px 0!important;
    color: #fff!important;
    font-family: Graphik!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 19px!important;
    padding: 11px 50px!important;
    text-transform: none!important;
    text-decoration: none;
}

 #home {
    width: 100%;
    display:flex;
}

.box1 {
    justify-content: center !important;
     width: 50%;
    display: block;
    font-family: 'Averta-Regular',sans-serif;
    font-weight: 500;
    color: black;
}
.d-flex {
    display: flex !important;
    justify-content: center;
}
.container {
    width: 100%;
    display: block;
    padding-top: 50px;
    font-family: 'Averta-Regular',sans-serif;
    font-size: 1.5rem; 
    /* vertical-align: middle; */
    /* text-align: center; */

}
.image {  
    width: 70%;
}
 main{
    padding-left: 5%;
    padding-right:5%;
}

    .heading {
        display: flex;
    }
    .heading img {
       /* margin-left: -4rem;  */
                                     
    }
    #image-tag{
        margin-top: 4rem; 
    }
    .impact {
        display: flex;
        padding-left: 5%;
        padding-right:5%;
        background-image: url("images/background1.png");
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        padding-bottom: 142px;
        padding-top: 90px;
        margin-top: 100px;
        }

        .image-group {
            display: flex;
            padding-top: 19px;
        }
        .country {
            background-color: #fff;
            border-radius: 8px;
            display: flex;
            margin-right: 16px;
            padding: 7px;
            width: 55px;
        }
        .impact h1 {
            color: #161617;
            font-family: Graphik;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: 49px;
        }
                
        .impact h4 {
            color: #000000;
            font-family: Graphik;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
             line-height: 22px;
        }
        .impact h5 {
            color: #787878;
            font-family: Graphik;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
             line-height: 22px;
        }
        .img-side {
        width: 70%;
        }
        .network {
            width: 50%;
            margin-left: 20%;
        }
        .Text {
           text-align: left; 
        }
       .section3{
        margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    padding-left: 5%;
    padding-right:5%;
}
.skillset {
    display: flex;
    width: 80%;
    gap: 3%;
   
}
.skillset p{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 30px hsla(0,0%,48%,.16)!important;
    color: #787878;
    font-family: Graphik!important;
    font-size: 20px;
    font-style: normal!important;
    font-weight: 400;
    line-height: 33px;
    padding: 11px!important;
    text-align: center;
    transition: -webkit-transform .3s ease!important;
    transition: transform .3s ease!important;
    transition: transform .3s ease,-webkit-transform .3s ease!important;
}
.skillset p:hover{
    -webkit-transform: translateY(-15px)!important;
    transform: translateY(-15px)!important;
}
.avenue {
    display: flex;
    width: 80%;
    gap: 1.5%;
}
.avenue p {
    background: #fff;
    border-radius: 8px!;
    box-shadow: 0 8px 30px hsla(0,0%,48%,.16);
    color: #787878!important;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal!important;
    font-weight: 400;
    line-height: 33px;
    padding: 11px;
    text-align: center;
    transition: -webkit-transform .3s ease!important;
    transition: transform .3s ease!important;
    transition: transform .3s ease,-webkit-transform .3s ease!important;
}
.avenue p:hover{
    -webkit-transform: translateY(-15px)!important;
    transform: translateY(-15px)!important;
}